﻿
    @charset 'utf-8';


    @font-face {
        font-family: ephismere;
        src: url('../fontes/Styling W00 Regular.ttf');
    }


    body
    {
        background-color: #e6e7e8;
        font-family: 'ephismere';
        font-size: 12px;
        color: #58595b;
        max-height: none;
    }


    div, Panel {
        margin: 0;
        padding: 0;
    }

    #container_email
    {
        min-height: 200px;
        max-height: none;
        border: 3px solid green;
    }


    #container_email .txtInput {

        width: 90%;
        border-radius: 4px;
        margin-bottom: 6px;

    }


    #detalhe_email_main {
        width: 98%;
        /*border: 3px solid green;*/
    }

    #info_email
    {
        width: 100%;
        /*border: 3px solid red;*/

    }

    #content_details_email {
        float: left;
        width: 70%;
        /*min-height: 360px;*/
        max-height: none;
        border-radius: 4px;
        /*border: 3px solid black;*/
        padding: 0;
        margin: 0;
        overflow-y: auto;
    }

    #content_upload_email {
        width: 28%;
        float: left;
        margin-left: 100px;
        /*border: 3px solid blue;*/
        max-height: none;
        padding: 0;
        margin: 0;
    height: 207px;
}


    #detalhe_info_email {
        width: 100%;
        /*border: 3px solid green;*/
        height: 38px;
        /*margin-left: -10px;*/
        /*margin-left....*/
    }


    /*#detalhe_write_email {
        width: 65%;
        float: right;
        margin-top: -376px;
        border: 3px solid #ff6a00;
        height: 370px;
        overflow-y: auto;
        max-height: none;
    }*/

    #email_body {
        clear: both;
        width: 90%;
        /*border: 3px solid orange;*/
        background-color: white;
        border-radius: 6px;
        padding: 0;
        margin: 0;
        margin-left: -3px;
        margin-top: 3px;
    }

    #pnl_email_2 {
        border: none;
    }


    #container_email .selectInput {
        border: 1px solid #e6e7e8;
        width: 300px;
        border-radius: 4px;
        height: 25px;
    }

    #container_email .txtInput_email {
        border-radius: 6px;
        background-color: #ffffff;
        margin-top: -15px;
}

    #container_email #pnl_btn_enviar {
        /*margin-top: 10px;*/
        clear: both;
    }

    /*#content_upload_email {
        width: 100%;
    }*/

    #container_button_edit {
        float: left;
    }

    .lb_crm {
        font-size: 14px;
    }


    .img_bt {
        width: 40px;
        padding: 0;
        background-color: transparent;
    }
