tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
.font5
	{color:black;
	font-size:8.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
.font8
	{color:black;
	font-size:8.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
td
	{mso-style-parent:style0;
	padding:0px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:.5pt dashed #9B9185;
	border-right:none;
	border-bottom:none;
	border-left:.5pt dashed #9B9185;
	background:white;
	mso-pattern:black none;}
.xl66
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:.5pt dashed #9B9185;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl67
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:right;
	vertical-align:middle;
	border-top:.5pt dashed #9B9185;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl68
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:.5pt dashed #9B9185;
	border-right:.5pt dashed #9B9185;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl69
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl70
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt dashed #9B9185;
	background:white;
	mso-pattern:black none;}
.xl71
	{mso-style-parent:style0;
	color:white;
	font-size:14.0pt;
	font-weight:700;
	vertical-align:middle;
	background:#F5770F;
	mso-pattern:black none;}
.xl72
	{mso-style-parent:style0;
	color:white;
	font-size:14.0pt;
	font-weight:700;
	text-align:right;
	vertical-align:middle;
	background:#F5770F;
	mso-pattern:black none;}
.xl73
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt dashed #9B9185;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl74
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:right;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl75
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:.5pt solid #9B9185;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #9B9185;
	background:white;
	mso-pattern:black none;}
.xl76
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:.5pt solid #9B9185;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl77
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:.5pt solid #9B9185;
	border-right:.5pt solid #9B9185;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl78
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #9B9185;
	background:white;
	mso-pattern:black none;}
.xl79
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid #9B9185;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl80
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #9B9185;
	border-left:.5pt solid #9B9185;
	background:white;
	mso-pattern:black none;}
.xl81
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl82
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid #9B9185;
	border-bottom:.5pt solid #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl83
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl84
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt dashed #9B9185;
	border-left:.5pt dashed #9B9185;
	background:white;
	mso-pattern:black none;}
.xl85
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt dashed #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl86
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:right;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt dashed #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl87
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt dashed #9B9185;
	border-bottom:.5pt dashed #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl88
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:"\@";
	vertical-align:top;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl89
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl90
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl91
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:top;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl92
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl93
	{mso-style-parent:style0;
	color:white;
	font-size:12.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:middle;
	background:#F5770F;
	mso-pattern:black none;}
.xl94
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid #9B9185;
	border-right:.5pt solid #9B9185;
	border-bottom:none;
	border-left:.5pt solid #9B9185;
	background:#D9D9D9;
	mso-pattern:black none;}
.xl95
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid #9B9185;
	border-bottom:none;
	border-left:.5pt solid #9B9185;
	background:#D9D9D9;
	mso-pattern:black none;}
.xl96
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid #9B9185;
	border-bottom:.5pt solid #9B9185;
	border-left:.5pt solid #9B9185;
	background:#D9D9D9;
	mso-pattern:black none;}
.xl97
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:.5pt solid #9B9185;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #9B9185;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl98
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:.5pt solid #9B9185;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl99
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:.5pt solid #9B9185;
	border-right:.5pt solid #9B9185;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl100
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #9B9185;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl101
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl102
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid #9B9185;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl103
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #9B9185;
	border-left:.5pt solid #9B9185;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl104
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl105
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid #9B9185;
	border-bottom:.5pt solid #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl106
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid #9B9185;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #9B9185;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl107
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid #9B9185;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl108
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid #9B9185;
	border-right:.5pt solid #9B9185;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl109
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #9B9185;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl110
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl111
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:.5pt solid #9B9185;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl112
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #9B9185;
	border-left:.5pt solid #9B9185;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl113
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl114
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:.5pt solid #9B9185;
	border-bottom:.5pt solid #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl115
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:"\@";
	text-align:left;
	vertical-align:top;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl116
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid #A6A6A6;
	border-right:.5pt solid #A6A6A6;
	border-bottom:none;
	border-left:.5pt solid #A6A6A6;
	background:#D9D9D9;
	mso-pattern:black none;}
.xl117
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid #A6A6A6;
	border-bottom:.5pt solid #A6A6A6;
	border-left:.5pt solid #A6A6A6;
	background:#D9D9D9;
	mso-pattern:black none;}
.xl118
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid #A6A6A6;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #A6A6A6;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl119
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid #A6A6A6;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl120
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid #A6A6A6;
	border-right:.5pt solid #A6A6A6;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl121
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #A6A6A6;
	border-left:.5pt solid #A6A6A6;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl122
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #A6A6A6;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl123
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:.5pt solid #A6A6A6;
	border-bottom:.5pt solid #A6A6A6;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl124
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:"\@";
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid #A6A6A6;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #A6A6A6;
	background:white;
	mso-pattern:black none;}
.xl125
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:"\@";
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid #A6A6A6;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl126
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:"\@";
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid #A6A6A6;
	border-right:.5pt solid #A6A6A6;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl127
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:"\@";
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #A6A6A6;
	background:white;
	mso-pattern:black none;}
.xl128
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:"\@";
	text-align:left;
	vertical-align:top;
	background:white;
	mso-pattern:black none;}
.xl129
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:"\@";
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:.5pt solid #A6A6A6;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl130
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:"\@";
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #A6A6A6;
	border-left:.5pt solid #A6A6A6;
	background:white;
	mso-pattern:black none;}
.xl131
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:"\@";
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #A6A6A6;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl132
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:"\@";
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:.5pt solid #A6A6A6;
	border-bottom:.5pt solid #A6A6A6;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl133
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid #A6A6A6;
	border-right:.5pt solid #A6A6A6;
	border-bottom:none;
	border-left:.5pt solid #A6A6A6;
	background:#D9D9D9;
	mso-pattern:black none;
	white-space:normal;}
.xl134
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid #A6A6A6;
	border-bottom:.5pt solid #A6A6A6;
	border-left:.5pt solid #A6A6A6;
	background:#D9D9D9;
	mso-pattern:black none;
	white-space:normal;}
.xl135
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #A6A6A6;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl136
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl137
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:.5pt solid #A6A6A6;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl138
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid #A6A6A6;
	border-bottom:none;
	border-left:.5pt solid #A6A6A6;
	background:#D9D9D9;
	mso-pattern:black none;
	white-space:normal;}
.xl139
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:"\@";
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid #A6A6A6;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #A6A6A6;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl140
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:"\@";
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid #A6A6A6;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl141
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:"\@";
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid #A6A6A6;
	border-right:.5pt solid #A6A6A6;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl142
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:"\@";
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #A6A6A6;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl143
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:"\@";
	text-align:left;
	vertical-align:top;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl144
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:"\@";
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:.5pt solid #A6A6A6;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl145
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:"\@";
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #A6A6A6;
	border-left:.5pt solid #A6A6A6;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl146
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:"\@";
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #A6A6A6;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl147
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:"\@";
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:.5pt solid #A6A6A6;
	border-bottom:.5pt solid #A6A6A6;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl148
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid #9B9185;
	border-right:.5pt solid #9B9185;
	border-bottom:none;
	border-left:.5pt solid #9B9185;
	background:#D9D9D9;
	mso-pattern:black none;
	white-space:normal;}
.xl149
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid #9B9185;
	border-bottom:none;
	border-left:.5pt solid #9B9185;
	background:#D9D9D9;
	mso-pattern:black none;
	white-space:normal;}
.xl150
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid #A6A6A6;
	border-bottom:none;
	border-left:.5pt solid #A6A6A6;
	background:#D9D9D9;
	mso-pattern:black none;}
.xl151
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid #A6A6A6;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl152
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid #A6A6A6;
	border-right:.5pt solid #A6A6A6;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl153
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #A6A6A6;
	border-left:.5pt solid #A6A6A6;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl154
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #A6A6A6;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl155
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:.5pt solid #A6A6A6;
	border-bottom:.5pt solid #A6A6A6;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl156
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid #A6A6A6;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #A6A6A6;
	background:#D9D9D9;
	mso-pattern:black none;
	white-space:normal;}
.xl157
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid #A6A6A6;
	border-right:.5pt solid #A6A6A6;
	border-bottom:none;
	border-left:none;
	background:#D9D9D9;
	mso-pattern:black none;
	white-space:normal;}
.xl158
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #A6A6A6;
	border-left:.5pt solid #A6A6A6;
	background:#D9D9D9;
	mso-pattern:black none;
	white-space:normal;}
.xl159
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid #A6A6A6;
	border-bottom:.5pt solid #A6A6A6;
	border-left:none;
	background:#D9D9D9;
	mso-pattern:black none;
	white-space:normal;}
.xl160
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl161
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:center;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl162
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid #A6A6A6;
	border-right:none;
	border-bottom:.5pt solid #A6A6A6;
	border-left:.5pt solid #A6A6A6;
	background:white;
	mso-pattern:black none;}
.xl163
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid #A6A6A6;
	border-right:none;
	border-bottom:.5pt solid #A6A6A6;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl164
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid #A6A6A6;
	border-right:.5pt solid #A6A6A6;
	border-bottom:.5pt solid #A6A6A6;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl165
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid #A6A6A6;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #A6A6A6;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl166
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid #A6A6A6;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl167
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid #A6A6A6;
	border-right:.5pt solid #A6A6A6;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl168
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #A6A6A6;
	background:white;
	mso-pattern:black none;}
.xl169
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	background:white;
	mso-pattern:black none;}
.xl170
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:.5pt solid #A6A6A6;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl171
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #A6A6A6;
	border-left:.5pt solid #A6A6A6;
	background:white;
	mso-pattern:black none;}
.xl172
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #A6A6A6;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl173
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:.5pt solid #A6A6A6;
	border-bottom:.5pt solid #A6A6A6;
	border-left:none;
	background:white;
	mso-pattern:black none;}
