tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:.5pt dashed #9B9185;
	border-right:none;
	border-bottom:none;
	border-left:.5pt dashed #9B9185;
	background:white;
	mso-pattern:black none;}
.xl66
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:.5pt dashed #9B9185;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl67
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:right;
	vertical-align:middle;
	border-top:.5pt dashed #9B9185;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl68
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:.5pt dashed #9B9185;
	border-right:.5pt dashed #9B9185;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl69
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt dashed #9B9185;
	background:white;
	mso-pattern:black none;}
.xl70
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt dashed #9B9185;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl71
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl72
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:right;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl73
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl74
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl75
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt dashed #9B9185;
	border-left:.5pt dashed #9B9185;
	background:white;
	mso-pattern:black none;}
.xl76
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt dashed #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl77
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:right;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt dashed #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl78
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt dashed #9B9185;
	border-bottom:.5pt dashed #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl79
	{mso-style-parent:style0;
	font-size:8.0pt;
	background:white;
	mso-pattern:black none;}
.xl80
	{mso-style-parent:style0;
	color:white;
	font-size:14.0pt;
	font-weight:700;
	vertical-align:top;
	background:#F5770F;
	mso-pattern:black none;}
.xl81
	{mso-style-parent:style0;
	font-size:8.0pt;}
.xl82
	{mso-style-parent:style0;
	color:windowtext;
	font-size:8.0pt;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl83
	{mso-style-parent:style0;
	color:windowtext;
	font-size:8.0pt;
	vertical-align:top;
	background:white;
	mso-pattern:black none;}
.xl84
	{mso-style-parent:style0;
	color:windowtext;
	font-size:7.5pt;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl85
	{mso-style-parent:style0;
	color:white;
	font-size:8.0pt;
	font-weight:700;
	vertical-align:middle;
	background:#F5770F;
	mso-pattern:black none;}
.xl86
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl87
	{mso-style-parent:style0;
	vertical-align:top;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl88
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:Percent;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl89
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:center;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl90
	{mso-style-parent:style0;
	color:windowtext;
	font-size:8.0pt;
	text-align:center;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl91
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:"\@";
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl92
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid #9B9185;
	border-bottom:none;
	border-left:.5pt solid #9B9185;
	background:white;
	mso-pattern:black none;}
.xl93
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:"\@";
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid #9B9185;
	border-bottom:none;
	border-left:.5pt solid #9B9185;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl94
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:.5pt solid #9B9185;
	border-right:none;
	border-bottom:.5pt solid #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl95
	{mso-style-parent:style0;
	color:white;
	font-size:14.0pt;
	font-weight:700;
	vertical-align:top;
	border-top:none;
	border-right:.5pt dashed #9B9185;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl96
	{mso-style-parent:style0;
	font-size:8.0pt;
	border-top:none;
	border-right:none;
	border-bottom:.5pt dashed #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl97
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:"\@";
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt dashed #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl98
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt dashed #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl99
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	vertical-align:middle;
	border-top:.5pt solid #9B9185;
	border-right:none;
	border-bottom:.5pt solid #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl100
	{mso-style-parent:style0;
	color:white;
	font-size:8.0pt;
	font-weight:700;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl101
	{mso-style-parent:style0;
	color:white;
	font-size:8.0pt;
	font-weight:700;
	text-align:right;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl102
	{mso-style-parent:style0;
	color:white;
	font-size:12.0pt;
	font-weight:700;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl103
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid #9B9185;
	border-right:.5pt solid #9B9185;
	border-bottom:none;
	border-left:.5pt solid #9B9185;
	background:#D9D9D9;
	mso-pattern:black none;
	white-space:normal;}
.xl104
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid #9B9185;
	border-bottom:none;
	border-left:.5pt solid #9B9185;
	background:#D9D9D9;
	mso-pattern:black none;
	white-space:normal;}
.xl105
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid #9B9185;
	border-bottom:.5pt solid #9B9185;
	border-left:.5pt solid #9B9185;
	background:#D9D9D9;
	mso-pattern:black none;
	white-space:normal;}
.xl106
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid #9B9185;
	border-right:none;
	border-bottom:.5pt solid #9B9185;
	border-left:.5pt solid #9B9185;
	background:#D9D9D9;
	mso-pattern:black none;}
.xl107
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid #9B9185;
	border-right:none;
	border-bottom:.5pt solid #9B9185;
	border-left:none;
	background:#D9D9D9;
	mso-pattern:black none;}
.xl108
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid #9B9185;
	border-right:.5pt solid #9B9185;
	border-bottom:.5pt solid #9B9185;
	border-left:none;
	background:#D9D9D9;
	mso-pattern:black none;}
.xl109
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl110
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid #9B9185;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl111
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl112
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid #9B9185;
	border-bottom:.5pt solid #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl113
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #9B9185;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl114
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #9B9185;
	border-left:.5pt solid #9B9185;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl115
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid #9B9185;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #9B9185;
	background:#D9D9D9;
	mso-pattern:black none;
	white-space:normal;}
.xl116
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #9B9185;
	background:#D9D9D9;
	mso-pattern:black none;
	white-space:normal;}
.xl117
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #9B9185;
	border-left:.5pt solid #9B9185;
	background:#D9D9D9;
	mso-pattern:black none;
	white-space:normal;}
.xl118
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:.5pt solid #9B9185;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #9B9185;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl119
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:.5pt solid #9B9185;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl120
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:.5pt solid #9B9185;
	border-right:.5pt solid #9B9185;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl121
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #9B9185;
	background:white;
	mso-pattern:black none;}
.xl122
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl123
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid #9B9185;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl124
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #9B9185;
	border-left:.5pt solid #9B9185;
	background:white;
	mso-pattern:black none;}
.xl125
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl126
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid #9B9185;
	border-bottom:.5pt solid #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl127
	{mso-style-parent:style0;
	color:white;
	font-size:14.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:top;
	background:#F5770F;
	mso-pattern:black none;}
.xl128
	{mso-style-parent:style0;
	color:white;
	font-size:14.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:middle;
	background:#F5770F;
	mso-pattern:black none;}
.xl129
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:.5pt solid #9B9185;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl130
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:.5pt solid #9B9185;
	border-right:.5pt solid #9B9185;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl131
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	border-top:.5pt solid #9B9185;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #9B9185;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl132
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	border-top:.5pt solid #9B9185;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl133
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	border-top:.5pt solid #9B9185;
	border-right:.5pt solid #9B9185;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl134
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #9B9185;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl135
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl136
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	border-top:none;
	border-right:.5pt solid #9B9185;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl137
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #9B9185;
	border-left:.5pt solid #9B9185;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl138
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl139
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	border-top:none;
	border-right:.5pt solid #9B9185;
	border-bottom:.5pt solid #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl140
	{mso-style-parent:style0;
	color:white;
	font-size:14.0pt;
	font-weight:700;
	vertical-align:middle;
	background:#F5770F;
	mso-pattern:black none;}
