tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
.style62
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:"Normal 2";}
.font6
	{color:black;
	font-size:8.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
.font9
	{color:black;
	font-size:8.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl66
	{mso-style-parent:style0;
	font-size:8.0pt;
	background:white;
	mso-pattern:black none;}
.xl67
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt dashed #9B9185;
	background:white;
	mso-pattern:black none;}
.xl68
	{mso-style-parent:style0;
	font-size:8.0pt;
	border-top:.5pt dashed #9B9185;
	border-right:.5pt dashed #9B9185;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl69
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl70
	{mso-style-parent:style0;
	color:white;
	font-size:8.0pt;
	font-weight:700;
	vertical-align:middle;
	background:#F5770F;
	mso-pattern:black none;}
.xl71
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt dashed #9B9185;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl72
	{mso-style-parent:style0;
	color:white;
	font-size:8.0pt;
	font-weight:700;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl73
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:right;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl74
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:right;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt dashed #9B9185;
	background:white;
	mso-pattern:black none;}
.xl75
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:right;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt dashed #9B9185;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl76
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt dashed #9B9185;
	border-left:.5pt dashed #9B9185;
	background:white;
	mso-pattern:black none;}
.xl77
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt dashed #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl78
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:right;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt dashed #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl79
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt dashed #9B9185;
	border-bottom:.5pt dashed #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl80
	{mso-style-parent:style0;
	font-size:8.0pt;
	border-top:.5pt dashed #9B9185;
	border-right:none;
	border-bottom:none;
	border-left:.5pt dashed #9B9185;
	background:white;
	mso-pattern:black none;}
.xl81
	{mso-style-parent:style0;
	font-size:8.0pt;
	border-top:.5pt dashed #9B9185;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl82
	{mso-style-parent:style0;
	color:white;
	font-size:12.0pt;
	font-weight:700;
	vertical-align:middle;
	background:#F5770F;
	mso-pattern:black none;}
.xl83
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid #9B9185;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #9B9185;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl84
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid #9B9185;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl85
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid #9B9185;
	border-right:.5pt solid #9B9185;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl86
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #9B9185;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl87
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:top;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl88
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:.5pt solid #9B9185;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl89
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #9B9185;
	border-left:.5pt solid #9B9185;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl90
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl91
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:.5pt solid #9B9185;
	border-bottom:.5pt solid #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl92
	{mso-style-parent:style0;
	color:white;
	font-size:12.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	background:#F5770F;
	mso-pattern:black none;}
.xl93
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:center;
	background:white;
	mso-pattern:black none;}
.xl94
	{mso-style-parent:style0;
	color:white;
	font-size:12.0pt;
	font-weight:700;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl95
	{mso-style-parent:style0;
	color:white;
	font-size:12.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:top;
	background:#F5770F;
	mso-pattern:black none;
	white-space:normal;}
.xl96
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid #9B9185;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #9B9185;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl97
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid #9B9185;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl98
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid #9B9185;
	border-right:.5pt solid #9B9185;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl99
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #9B9185;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl100
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl101
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:.5pt solid #9B9185;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl102
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #9B9185;
	border-left:.5pt solid #9B9185;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl103
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl104
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:.5pt solid #9B9185;
	border-bottom:.5pt solid #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl105
	{mso-style-parent:style0;
	color:white;
	font-size:8.0pt;
	font-weight:700;
	text-align:right;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl106
	{mso-style-parent:style62;
	font-size:8.0pt;
	font-weight:700;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl107
	{mso-style-parent:style62;
	font-size:8.0pt;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl108
	{mso-style-parent:style62;
	font-size:8.0pt;
	font-weight:700;
	vertical-align:top;
	background:white;
	mso-pattern:black none;}
.xl109
	{mso-style-parent:style0;
	font-size:8.0pt;}
.xl110
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl111
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl112
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl113
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl114
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:top;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl115
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:"\@";
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl116
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt dashed #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl117
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:center;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl118
	{mso-style-parent:style0;
	background:white;
	mso-pattern:black none;}
.xl119
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	background:white;
	mso-pattern:black none;}
.xl120
	{mso-style-parent:style0;
	font-size:8.0pt;
	border-top:1.0pt dashed #9B9185;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt dashed #9B9185;}
.xl121
	{mso-style-parent:style0;
	font-size:8.0pt;
	border-top:1.0pt dashed #9B9185;
	border-right:none;
	border-bottom:none;
	border-left:none;}
.xl122
	{mso-style-parent:style0;
	font-size:8.0pt;
	border-top:1.0pt dashed #9B9185;
	border-right:1.0pt dashed #9B9185;
	border-bottom:none;
	border-left:none;}
.xl123
	{mso-style-parent:style0;
	font-size:8.0pt;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt dashed #9B9185;}
.xl124
	{mso-style-parent:style0;
	font-size:8.0pt;
	border-top:none;
	border-right:1.0pt dashed #9B9185;
	border-bottom:none;
	border-left:none;}
.xl125
	{mso-style-parent:style0;
	color:white;
	font-size:8.0pt;
	font-weight:700;}
.xl126
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:right;
	white-space:normal;}
.xl127
	{mso-style-parent:style0;
	font-size:8.0pt;
	white-space:normal;}
.xl128
	{mso-style-parent:style0;
	font-size:8.0pt;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt dashed #9B9185;
	border-left:1.0pt dashed #9B9185;}
.xl129
	{mso-style-parent:style0;
	font-size:8.0pt;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt dashed #9B9185;
	border-left:none;}
.xl130
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:right;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt dashed #9B9185;
	border-left:none;}
.xl131
	{mso-style-parent:style0;
	font-size:8.0pt;
	border-top:none;
	border-right:1.0pt dashed #9B9185;
	border-bottom:1.0pt dashed #9B9185;
	border-left:none;}
.xl132
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:right;}
.xl133
	{mso-style-parent:style0;
	color:white;
	font-size:8.0pt;
	font-weight:700;
	text-align:right;}
.xl134
	{mso-style-parent:style0;
	color:white;
	font-size:12.0pt;
	font-weight:700;}
.xl135
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;}
.xl136
	{mso-style-parent:style0;
	font-size:12.0pt;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;
	background:white;
	mso-pattern:black none;}
.xl137
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	border-top:1.0pt solid #9B9185;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid #9B9185;
	white-space:normal;}
.xl138
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	border-top:1.0pt solid #9B9185;
	border-right:none;
	border-bottom:none;
	border-left:none;
	white-space:normal;}
.xl139
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	border-top:1.0pt solid #9B9185;
	border-right:1.0pt solid #9B9185;
	border-bottom:none;
	border-left:none;
	white-space:normal;}
.xl140
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid #9B9185;
	white-space:normal;}
.xl141
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	white-space:normal;}
.xl142
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	border-top:none;
	border-right:1.0pt solid #9B9185;
	border-bottom:none;
	border-left:none;
	white-space:normal;}
.xl143
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:center;}
.xl144
	{mso-style-parent:style0;
	color:white;
	font-size:12.0pt;
	font-weight:700;
	vertical-align:top;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl145
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	vertical-align:top;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl146
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:.5pt dashed #9B9185;
	border-right:none;
	border-bottom:none;
	border-left:.5pt dashed #9B9185;
	background:white;
	mso-pattern:black none;}
.xl147
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:.5pt dashed #9B9185;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl148
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:right;
	vertical-align:middle;
	border-top:.5pt dashed #9B9185;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl149
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:.5pt dashed #9B9185;
	border-right:.5pt dashed #9B9185;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl150
	{mso-style-parent:style0;
	color:white;
	font-size:8.0pt;
	font-weight:700;
	text-align:right;
	vertical-align:middle;
	background:#F5770F;
	mso-pattern:black none;}
.xl151
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl152
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl153
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid #9B9185;
	border-bottom:.5pt solid #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl154
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl155
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid #9B9185;
	border-bottom:.5pt solid #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl156
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid #9B9185;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl157
	{mso-style-parent:style62;
	font-size:8.0pt;
	vertical-align:top;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl158
	{mso-style-parent:style0;
	color:white;
	font-size:12.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:middle;
	background:#F5770F;
	mso-pattern:black none;}
.xl159
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid #9B9185;
	border-right:.5pt solid #9B9185;
	border-bottom:none;
	border-left:.5pt solid #9B9185;
	background:#D9D9D9;
	mso-pattern:black none;
	white-space:normal;}
.xl160
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid #9B9185;
	border-bottom:none;
	border-left:.5pt solid #9B9185;
	background:#D9D9D9;
	mso-pattern:black none;
	white-space:normal;}
.xl161
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid #9B9185;
	border-bottom:.5pt solid #9B9185;
	border-left:.5pt solid #9B9185;
	background:#D9D9D9;
	mso-pattern:black none;
	white-space:normal;}
.xl162
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid #9B9185;
	border-right:none;
	border-bottom:.5pt solid #9B9185;
	border-left:.5pt solid #9B9185;
	background:#D9D9D9;
	mso-pattern:black none;}
.xl163
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid #9B9185;
	border-right:.5pt solid #9B9185;
	border-bottom:.5pt solid #9B9185;
	border-left:none;
	background:#D9D9D9;
	mso-pattern:black none;}
.xl164
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:.5pt solid #9B9185;
	border-right:none;
	border-bottom:.5pt solid #9B9185;
	border-left:.5pt solid #9B9185;
	background:white;
	mso-pattern:black none;}
.xl165
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:.5pt solid #9B9185;
	border-right:.5pt solid #9B9185;
	border-bottom:.5pt solid #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl166
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid #9B9185;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #9B9185;
	background:#D9D9D9;
	mso-pattern:black none;
	white-space:normal;}
.xl167
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #9B9185;
	background:#D9D9D9;
	mso-pattern:black none;
	white-space:normal;}
.xl168
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #9B9185;
	border-left:.5pt solid #9B9185;
	background:#D9D9D9;
	mso-pattern:black none;
	white-space:normal;}
.xl169
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:top;
	border-top:.5pt solid #9B9185;
	border-right:.5pt solid #9B9185;
	border-bottom:none;
	border-left:.5pt solid #9B9185;
	background:#D9D9D9;
	mso-pattern:black none;
	white-space:normal;}
.xl170
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:top;
	border-top:none;
	border-right:.5pt solid #9B9185;
	border-bottom:none;
	border-left:.5pt solid #9B9185;
	background:#D9D9D9;
	mso-pattern:black none;
	white-space:normal;}
.xl171
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:top;
	border-top:none;
	border-right:.5pt solid #9B9185;
	border-bottom:.5pt solid #9B9185;
	border-left:.5pt solid #9B9185;
	background:#D9D9D9;
	mso-pattern:black none;
	white-space:normal;}
.xl172
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:.5pt solid #9B9185;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #9B9185;
	background:white;
	mso-pattern:black none;}
.xl173
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:.5pt solid #9B9185;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl174
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:.5pt solid #9B9185;
	border-right:.5pt solid #9B9185;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl175
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #9B9185;
	background:white;
	mso-pattern:black none;}
.xl176
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid #9B9185;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl177
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #9B9185;
	border-left:.5pt solid #9B9185;
	background:white;
	mso-pattern:black none;}
.xl178
	{mso-style-parent:style62;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid #9B9185;
	border-right:.5pt solid #9B9185;
	border-bottom:none;
	border-left:.5pt solid #9B9185;
	background:#D9D9D9;
	mso-pattern:black none;
	white-space:normal;}
.xl179
	{mso-style-parent:style62;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid #9B9185;
	border-bottom:none;
	border-left:.5pt solid #9B9185;
	background:#D9D9D9;
	mso-pattern:black none;
	white-space:normal;}
.xl180
	{mso-style-parent:style62;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid #9B9185;
	border-bottom:.5pt solid #9B9185;
	border-left:.5pt solid #9B9185;
	background:#D9D9D9;
	mso-pattern:black none;
	white-space:normal;}
.xl181
	{mso-style-parent:style62;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid #9B9185;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #9B9185;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl182
	{mso-style-parent:style62;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid #9B9185;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl183
	{mso-style-parent:style62;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid #9B9185;
	border-right:.5pt solid #9B9185;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl184
	{mso-style-parent:style62;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #9B9185;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl185
	{mso-style-parent:style62;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl186
	{mso-style-parent:style62;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:.5pt solid #9B9185;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl187
	{mso-style-parent:style62;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #9B9185;
	border-left:.5pt solid #9B9185;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl188
	{mso-style-parent:style62;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl189
	{mso-style-parent:style62;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:.5pt solid #9B9185;
	border-bottom:.5pt solid #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl190
	{mso-style-parent:style62;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:top;
	border-top:.5pt solid #9B9185;
	border-right:.5pt solid #9B9185;
	border-bottom:none;
	border-left:.5pt solid #9B9185;
	background:#D9D9D9;
	mso-pattern:black none;
	white-space:normal;}
.xl191
	{mso-style-parent:style62;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:top;
	border-top:none;
	border-right:.5pt solid #9B9185;
	border-bottom:none;
	border-left:.5pt solid #9B9185;
	background:#D9D9D9;
	mso-pattern:black none;
	white-space:normal;}
.xl192
	{mso-style-parent:style62;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:top;
	border-top:none;
	border-right:.5pt solid #9B9185;
	border-bottom:.5pt solid #9B9185;
	border-left:.5pt solid #9B9185;
	background:#D9D9D9;
	mso-pattern:black none;
	white-space:normal;}
.xl193
	{mso-style-parent:style62;
	font-size:8.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid #9B9185;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #9B9185;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl194
	{mso-style-parent:style62;
	font-size:8.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid #9B9185;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl195
	{mso-style-parent:style62;
	font-size:8.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid #9B9185;
	border-right:.5pt solid #9B9185;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl196
	{mso-style-parent:style62;
	font-size:8.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid #9B9185;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl197
	{mso-style-parent:style62;
	font-size:8.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:top;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl198
	{mso-style-parent:style62;
	font-size:8.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:.5pt solid #9B9185;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl199
	{mso-style-parent:style62;
	font-size:8.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #9B9185;
	border-left:.5pt solid #9B9185;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl200
	{mso-style-parent:style62;
	font-size:8.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl201
	{mso-style-parent:style62;
	font-size:8.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:.5pt solid #9B9185;
	border-bottom:.5pt solid #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl202
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:right;
	vertical-align:middle;}
.xl203
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;}
.xl204
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;}
.xl205
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	vertical-align:middle;}
.xl206
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	white-space:normal;}
.xl207
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	white-space:normal;}
.xl208
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	vertical-align:middle;
	white-space:normal;}
.xl209
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:"\@";
	vertical-align:middle;
	white-space:normal;}
.xl210
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:top;
	white-space:normal;}
.xl211
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:center;
	vertical-align:middle;}
.xl212
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	white-space:normal;}
.xl213
	{mso-style-parent:style0;
	font-size:8.0pt;
	background:white;
	mso-pattern:black none;}
.xl214
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl215
	{mso-style-parent:style0;
	color:white;
	font-size:8.0pt;
	font-weight:700;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl216
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:right;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl217
	{mso-style-parent:style0;
	color:white;
	font-size:12.0pt;
	font-weight:700;
	vertical-align:top;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl218
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:top;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
