﻿<%@ Page Title="" Language="C#" MasterPageFile="~/General.Master" AutoEventWireup="true" CodeBehind="runcontrols.aspx.cs" Inherits="uTools.WebForm1" %>

<%--<%@ Register src="Controls/uTaskCreate.ascx" TagName = "uTaskCreate" TagPrefix="utask" %>--%>
<%@ Register src="Controls/Email_Detalhe.ascx" TagName = "EmailDetalhe" TagPrefix="email" %>



<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">

        
    

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
    <%--<utask:uTaskCreate ID="utaskcreate" runat="server"></utask:uTaskCreate>--%>
    <email:EmailDetalhe ID="utaskcreate" runat="server"></email:EmailDetalhe>

</asp:Content>
