﻿<%@ Page Title="" Language="C#" MasterPageFile="~/uCRMMaster.Master" AutoEventWireup="true" CodeBehind="uCRM.aspx.cs" Inherits="uTools.uCRM" %>
<%@ Register src="Controls/uCRMView.ascx" tagname="uCRMView" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <uc1:uCRMView ID="uCRMView1" runat="server" />
</asp:Content>
