tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
.font5
	{color:black;
	font-size:8.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
td
	{mso-style-parent:style0;
	padding:0px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	font-size:8.0pt;
	background:white;
	mso-pattern:black none;}
.xl66
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl67
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:right;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl68
	{mso-style-parent:style0;
	color:white;
	font-size:8.0pt;
	font-weight:700;
	vertical-align:middle;
	background:#F5770F;
	mso-pattern:black none;}
.xl69
	{mso-style-parent:style0;
	color:white;
	font-size:8.0pt;
	font-weight:700;
	text-align:right;
	vertical-align:middle;
	background:#F5770F;
	mso-pattern:black none;}
.xl70
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl71
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl72
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl73
	{mso-style-parent:style0;
	font-size:8.0pt;}
.xl74
	{mso-style-parent:style0;
	font-size:8.0pt;
	mso-number-format:"\@";
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl75
	{mso-style-parent:style0;
	color:white;
	font-size:12.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:middle;
	background:#F5770F;
	mso-pattern:black none;}
.xl76
	{mso-style-parent:style0;
	color:#E26B0A;
	font-size:8.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl77
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl78
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl79
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
