﻿    
    @charset 'utf-8';


    @font-face {
        font-family          : ephismere;
        src                  : url('../fonts/Styling W00 Regular.ttf');
    }


    body, button
    {
        background-color     : #e6e7e8;
        font-family          : 'ephismere';
        font-size            : .8em;
        color                : black;
        max-height           : none;
    }


    * {
        box-sizing           : border-box;
    }

    .row::after {
        content              : "";
        clear                : both;
        display              : table;
    }
    [class*="col-"] {
        float: left;
        padding: 2px;
        margin: 10px 0px;
    }
    .col-1  { width          : 8.33%; }
    .col-2  { width          : 16.66%; }
    .col-3  { width          : 25%; }
    .col-4  { width          : 33.33%; }
    .col-5  { width          : 41.66%; }
    .col-6  { width          : 50%; }
    .col-7  { width          : 58.33%; }
    .col-8  { width          : 66.66%; }
    .col-9  { width          : 75%; }
    .col-10 { width          : 83.33%; }
    .col-11 { width          : 91.66%; }
    .col-12 { width          : 100%; }



    .conteudo_create { 
        min-height           : 300px;
        max-height           : none;
    }

    .painel_conteudo {    
        background-color     : #e6e7e8; 
        height               : 470px;
    }

    .painel_conteudo {    
        background-color     : #e6e7e8;
        min-height           : 550px;
        max-height           : none;
    }

    .inline
    {
        margin: 0;
    }

    .clean_left
    {
        clear: left;
    }

    input[type=text], input[type=number], input[type=email], .text_input, .selectInput, label {
        width                : 100%;
        padding              : 4px 10px;
        font-family          : 'ephismere';
        border-radius        : 4px;
        margin               : 5px 0;
        box-sizing           : border-box;
        border               : 2px solid #808080;
        outline              : none;
    }

    .btn_form
    {
        background-color    : #8c2034;
        font-family         : 'ephismere';
        color               : white;
        cursor              : pointer;
        padding             : 2px;
        margin-top          : 3px;
        border-radius       : 4px;
        border              : 3px solid #8c2034;
        height              : 28px;
        font-size           : 14px;
    }

    .btn_form:hover {

        cursor              : pointer;
        padding             : 2px;
        margin-top          : 3px;
        border-radius       : 4px;
        border              : 3px solid #3c3c3c;
        height              : 28px;
        font-size           : 14px;
        color               : white;

        background          : #3c3c3c;
        background          : -moz-linear-gradient(top, #3c3c3c 0%, #222222 100%);
        background          : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c3c3c), color-stop(100%, #222222));
        background          : -webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%);
        background          : -o-linear-gradient(top, #3c3c3c 0%, #222222 100%);
        background          : -ms-linear-gradient(top, #3c3c3c 0%, #222222 100%);
        background          : linear-gradient(top, #3c3c3c 0%, #222222 100%);
                
        -moz-transition     : background .6s;
        -o-transition       : background .6s;
        -webkit-transition  : background .6s;
        transition          : background .6s;
            
    }

    .tab_left
    {
        margin-left: 5px;
    }


    .label_desc
    {
        width: 100%;
    }

    label
    {
        border               : none;
    }

    input[type=text]:focus 
    {
        background-color     : #aaa;
        border               : 2px solid #3f3f3f;
        color                : black;
    }

    input[type=number]:focus
    {
        background-color     : #aaa;
        border               : 2px solid #3f3f3f;
        color: black;
    }

    .modulo_cabecalho
    {
        font-size            : 1em;
    }

    .head_detalhe, .xhead_detalhe
    {
        width                : 100%;
        text-align           : left;
        vertical-align       : top;
        font-weight          : bold;
    }

    .realce{
        border-radius        : 6px;
        background-color     : white;
    }
    
    
    .head_detalhe
    {
        color                : black;
    }


    .xhead_detalhe
    {
        width: 100%;
        min-height: 30px;
        max-height: none;
        font-size            : 17px;
        font-weight          : normal;
        border               : 2px solid #aaa;
        background-color     : #aaa;
        border-radius        : 6px;
        color                : black;
    }


    #img_logo
    {
        background-image     : url('../images/logotipo.png');
        background-position  : left;
        display: flex;
    }

    #img_tools
    {
        background-image     : url('../images/tools.png');
        background-position  : right;
        display: flex;
    }

          
    .img_bt {
        width: 38px;
        cursor:pointer;
    }
        
    
    .header_img
     {

        /*width                : 100%;*/
        background-repeat    : no-repeat;
        /*background-position  : center;*/
        height: 150px;
        padding: 0;
        margin: 0;
        /*left:0;*/
     }

     #footer_img
     {
        background-image     : url('../images/rodape_02.png');

     }     


     .gridview
     {
         width: 100%;

     }

     #content_gridview_email
     {
         overflow: auto;
     }


    #container_task_count
    {
        border: 3px solid #3f3f3f;
        width: 60%;
        /*max-width:none;*/
        border-radius: 6px;
        background-color: rgba(0, 0, 0, .4);
        font-size: 16px;
        /*font-weight: bold;*/
        color: white;
        /*padding: 0;*/
        /*margin: 0;*/
        height: 25px;

    }
    
        
    button.accordion {
        background-color: black;
        font-family: 'ephismere';
        font-weight: bold;
        color: white;
        border: 4px solid white;
        cursor: pointer;
        padding: 5px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 14px;
        transition: 0.4s;
        margin-bottom: 3px;
        border-radius: 4px;
    }

        button.accordion:hover {
            background-color: #aaa;
        }

    .btn_detalhe {
        border-bottom: none;
    }

    .btn_lista {
        border-top: none;
    }


    /*

    * {
        border: 1px solid red;
    }
*/