﻿    @charset 'utf-8';


    @font-face {
        font-family: ephismere;
        src: url('../fontes/Styling W00 Regular.ttf');
    }

    /** {
        border:1px solid orange;
    }*/

    body, button
    {
        background-color: #e6e7e8;
        font-family: 'ephismere';
        font-size: 12px;
        color: black;
        max-height: none;
    }

    .txt_Titulo
    {
        color: black;
        font-family: 'ephismere';
        font-weight: bold;
        /*text-shadow: 10px 10px 5px #888888;*/
        cursor: pointer;
        padding: 5px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 14px;
        transition: 0.4s;
    }


    div.container_default {
        width: 100%;
        max-height:none;
        margin-top: -28px;
        background-color: #e6e7e8;
        /*border: 1px solid gray;*/
    }



    header, footer {
        padding: 2px;
        color: white;
        /*background-color: black;*/
        clear: right;
        text-align: center;
    }

    #rodape
    {
        /*margin-top: 10px;*/
        height: 25px;
    }

    #content_crm {
        float: right;
        width: 17%;
        margin-top: -125px;
        /*padding-top: 75px;*/
        padding-right: 10px;
        margin: 0;
        /*height:760px;*/
        /*overflow:auto;*/
        left: 3px;
        padding-left: 0;
        padding-bottom: 0;
    }

    #content_crm ul {
        list-style-type: none;
        padding: 0;
    }
   
    #content_crm ul a {
        text-decoration: none;
    }


    #content_main {
        margin-right: 5px;
        margin-top: -30px;
        margin-bottom: 30px;
        width: 80%;
        min-height:718px;
        max-height: none;
        border-right: 2px solid white;
        padding-top: 0px;
        /*overflow: hidden;*/
    
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    #container_manage
    {
        padding: 0;
        clear: both;
        width: 95.2%;
        height: 25px;
        font-size: 12px;

        position: relative;
        /*padding-right: 300px;*/
        top: -17px;
        /*left: 1200px;*/
        text-align:right;
        /*float: right;*/
        /*clear:both;*/
    }


    .i_manage
    {
        background-color: black;
        border-radius: 4px;
        padding: 3px;
        margin-left: 10px;
        display: inline;
    }
    

    .img_bt {
        width: 40px;
        cursor:pointer;
    }
    
    .img_bt_rect {
        width: 75px;
        cursor:pointer;
    }

    .txtInput, .txtInput_email {
        width                : 100%;
        padding              : 4px 10px;
        font-family          : 'ephismere';
        border-radius        : 4px;
        margin               : 5px 0;
        box-sizing           : border-box;
        border               : 2px solid #808080;
        outline              : none;
    }

    
    .img_bt_clean
    {
        width: 59.4px;
        height: 19.25px;
    }
    


    
    

