﻿
    @charset 'utf-8';


    @font-face {
        font-family: ephismere;
        src: url('../fontes/Styling W00 Regular.ttf');
    }


    body
    {
        background-color: #e6e7e8;
        font-family: 'ephismere';
        font-size: 12px;
        color: black;
        max-height: none;
    }


div
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #e6e7e8;
    
}


#container_login
{
    margin-top: 8%;
    background-image: url('../images/login_background.png');
    background-repeat: no-repeat;
    background-position:center;
    height:600px;
    width: 100%;
    /*padding-top: 200px;*/
    border: 3px solid #e6e7e8;
    background-size: 500px;

    
}

#img_login
{
    width: 40%;
}

#content_user_login
{    
    width: 260px;
    max-height: none;
    color: white;
    /*border: 3px solid red;*/
    /*position: relative;*/
    border-radius: 6px;
    margin: auto;
    margin-top: 200px;
    padding: 25px;
	/*box-shadow:0px 0px 10px rgba(0,0,0,.5);*/

}

/*#user_login_components
{
    margin-top: 200px;
}*/


#img_input_login
{
    width: 25px;
    top: 8px;
    position: relative;
}


#content_user_login .txtInput {
        width                : 100%;
        padding              : 4px 10px;
        font-family          : 'ephismere';
        border-radius        : 4px;
        margin               : 5px 0;
        box-sizing           : border-box;
        border               : 2px solid #808080;
        outline              : none;
}



