﻿


#blur
{
       background-color: gray;
       moz-opacity: 0.5;
       khtml-opacity: .5;
       opacity: .5;
       filter: alpha(opacity=50);
       z-index: 100;
       height: 100%;
    width:100%;
       position: absolute;
       top: 0;
       left: 0;    
}
#progress
{
       z-index: 110;
       background-color: none;
       position: absolute;
       top: 50%;
       left: 50%;
       /*border: solid 1px black;*/
       /*padding: 5px 5px 5px 5px;*/
       text-align: center;
}
