﻿
    @charset 'utf-8';


    @font-face {
        font-family: ephismere;
        src: url('../fontes/Styling W00 Regular.ttf');
    }


    body
    {
        background-color: #e6e7e8;
        font-family: 'ephismere';
        font-size: 12px;
        color: black;
        max-height: none;
    }


    div, Panel {
        margin: 0;
        padding: 0;
    }

    #container_email
    {
        min-height: 200px;
        max-height: none;
        border: 3px solid green;
    }


    #container_email .txtInput, .selectInput {
        width                : 100%;
        padding              : 4px 10px;
        font-family          : 'ephismere';
        border-radius        : 4px;
        margin               : 5px 0;
        box-sizing           : border-box;
        border               : 2px solid #808080;
        outline              : none;

    }


    #detalhe_email_main {
        width: 98%;
        /*border: 3px solid green;*/
    }

    #info_email
    {
        width: 100%;
        /*border: 3px solid red;*/

    }

    #content_details_email {
        float: left;
        width: 70%;
        /*min-height: 360px;*/
        max-height: none;
        border-radius: 4px;
        /*border: 3px solid black;*/
        padding: 0;
        margin: 0;
        overflow-y: auto;
    }

    #content_upload_email {
        width: 28%;
        float: left;
        margin-left: 100px;
        /*border: 3px solid blue;*/
        max-height: none;
        padding: 0;
        margin: 0;
    height: 207px;
}


    #detalhe_info_email {
        width: 100%;
        /*border: 3px solid green;*/
        height: 38px;
    }

    #email_body {
        clear: both;
        width: 90%;
        /*border: 3px solid orange;*/
        background-color: white;
        border-radius: 6px;
        padding: 0;
        margin: 0;
        margin-left: -3px;
        margin-top: 3px;
    }

    #pnl_email_2 {
        border: none;
    }




    #container_email .txtInput_email {
        width                : 100%;
        padding              : 4px 10px;
        font-family          : 'ephismere';
        border-radius        : 4px;
        margin               : 5px 0;
        box-sizing           : border-box;
        border               : 2px solid #808080;
        outline              : none;
}

    #container_email #pnl_btn_enviar {
        /*margin-top: 10px;*/
        clear: both;
    }

    /*#content_upload_email {
        width: 100%;
    }*/

    #container_button_edit {
        float: left;
    }

    .lb_crm {
        font-size: 14px;
    }


    .img_bt {
        width: 40px;
        padding: 0;
        background-color: transparent;
    }
