﻿




.pagination {
    display: inline-block;
    float: left;
    /*border: 2px solid red;*/
    width: 99.5%;
}

    .pagination .page_change {
        background-color: #8c2034;
        font-weight: bold;
        color: white;
        font-size: 1.2em;
        border: 1px solid #ddd;
    }

        .pagination .page_change .page {
            padding: 0px 8px;
        }

    .pagination .page {
        color: black;
        background-color: none;
        margin: 4px 10px;
        padding: 4px 10px;
        font-size: 1.3em;
        text-decoration: none;
        border: 1px solid #ddd;
        display: inline-block;
    }

    .pagination .page_change.active {
        background-color: #4CAF50;
        color: white;
        border: 1px solid #4CAF50;
        cursor: pointer;
    }

    .pagination .page_change:hover:not(.active) {
        background: #3c3c3c;
        background: -moz-linear-gradient(top, #3c3c3c 0%, #222222 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c3c3c), color-stop(100%, #222222));
        background: -webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%);
        background: -o-linear-gradient(top, #3c3c3c 0%, #222222 100%);
        background: -ms-linear-gradient(top, #3c3c3c 0%, #222222 100%);
        background: linear-gradient(top, #3c3c3c 0%, #222222 100%);
        cursor: pointer;
    }

    .pagination .page_change:hover {
        cursor: pointer;
    }

    .pagination .page_change:first-child {
        border-top-left-radius: 7px;
        border-bottom-left-radius: 5px;
    }

    .pagination .page_change:last-child {
        border-top-right-radius: 7px;
        border-bottom-right-radius: 5px;
    }
