﻿



    @font-face {
        font-family: ephismere;
        src: url('../fontes/Styling W00 Regular.ttf');
    }

    div {
        margin: 0;
        padding: 0;
    }


    .img_bt {
        width: 40px;
        padding: 0;
        background-color: transparent;
    }


    #panel_detalhe_section, #panel_detalhe_bottom {
        /*border: 2px solid #0026ff;*/
        max-height: none;
    }

    #container_task_create {
        width: 100%;
        min-height: 0px;
        max-height: none;
        background-color: #e6e7e8;
    }


    #content_ut_create_treeview {
        float: left;
        width: 31%;
        height: 195px;
        background-color: #ffffff;
        border-radius: 4px;
        /*border: 1px solid #e6e7e8;*/
        padding: 0;
        margin-right: 50px;
        overflow: auto;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }


    #tv_tipificacao {
        font-family: 'ephismere';
        margin: 0;
    }


    #content_ut_create {
        max-height: none;
        width: 60%;
        margin: 0;
        overflow: hidden;
        margin-left: 100px;
    }

    .ut_create_table {
        border-style: none;
        border-color: inherit;
        border-width: medium;
        width: 97%;
    }

        .ut_create_table tr {
            width: 50%;
        }


    #content_ut_create_email .describe {
        font-size: 14px;
        font-weight: bold;
    }

    .editdescricao {
    }
