﻿    @charset 'utf-8';


    @font-face {
        font-family: ephismere;
        src: url('../fontes/Styling W00 Regular.ttf');
    }


    body
    {
        background-color: #e6e7e8;
        font-family: 'ephismere';
        font-size: 12px;
        color: black;
        max-height: none;
    }


    div {
        margin: 0;
        padding: 0;
    }

    #panel_detalhe_section, #panel_detalhe_bottom {
        /*border: 2px solid red;*/
        max-height: none;
    }

    #corpo_tasks {
        width: 100%;
        min-height: 0px;
        max-height: none;
        /*overflow-y: auto;
        position: relative;*/
    }

    button.accordion {
        background-color: #3f3f3f;
        font-family: 'ephismere';
        border-radius: 6px;
        margin: 1px 0px;
        font-weight: bold;
        color: white;
        border: 4px solid white;
        cursor: pointer;
        padding: 5px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 14px;
        transition: 0.4s;
    }

        button.accordion:hover {
            background-color: #aaa;
        }

    .btn_detalhe {
        border-bottom: none;
    }

    .btn_lista {
        border-top: none;
    }

    .updatepanel {
        /*background: linear-gradient( grey, white);*/
        /*background-color #efefef;*/
    }

    input {
        padding: 12px;
        border: solid 0px;
        background-color: #fff;
    }

        input.editdescricao {
            padding: 10px;
            width: 100%;
            border: 0px;
            background-color: #fff;
            outline: none;
        }



    .head_detalhe {
        width: 150px;
        text-align: left;
        vertical-align: top;
        font-weight: bold;
    }


    .selected_row {
        text-align: justify;
        background-color: lightgray;
    }



    div {
        margin: 0;
        padding: 0;
    }

    #panel_detalhe_bottom {
        width: 97%;
        max-height: none;
    }

    #detalhe_principal_Tasks_all {
        min-height: 0px;
        max-height: none;
    }


    #detalhe_principal_Tasks, #detalhe_principal_email {
        width: 53%;
    }

    #detalhe_principal_email {
        border: 3px solid green;
        height: 670px;
        /*margin-left: -10px;*/
        /*margin-left....*/
    }


    #detalhe_principal_Tasks {
        /*border: 3px solid black;*/
        border-right: 2px solid white;
        height: 400px;
    }


    #detalhe_lateral_Tasks, #detalhe_lateral_email {
        width: 45%;
        float: right;
        /*top: -156px;*/
    }

    #detalhe_lateral_Tasks {
        height: 400px;
        margin-top: -406px;
        margin-left: 10px;
        /*border: 3px solid black;*/
    }

    #detalhe_lateral_email {
        margin-top: -673px;
        border: 3px solid #ff6a00;
        height: 670px;
        overflow-y: auto;
        /*max-height: none;*/
    }


    #tasks_detalhe_historico, #tasks_detalhe_comentario {
        width: 100%;
        margin-bottom: -10px;
        clear: both;
        overflow-y: auto;
    }

    #tasks_detalhe_historico {
        height: 130px;
        margin-bottom: 13px;
    }

    #tasks_detalhe_comentario {
        height: 200px;
    }


    #gridview_comentario, #gridview_historico {
        font-size: 9px;
    }


    #gridview_historico, #gridview_comentario {
        overflow-y: auto;
    }

    #detalhe_email_bottom {
        width: 100%;
        /*min-height: 80px;
        max-height: 270px;
        overflow-y: auto;*/
        /*border: 3px solid #00ffff;*/
    }

    #content_gridview_tarefas {
        width: 100%;
        /*min-height: 200px;
        max-height: 350px;
        overflow-y: auto;*/
    }

    #corpo_item {
        width: 150px;
        margin-left: 1%;
    }

    #corpo_tasks .txtInput, .selectInput {
        width                : 100%;
        padding              : 4px 10px;
        font-family          : 'ephismere';
        border-radius        : 4px;
        margin               : 5px 0;
        box-sizing           : border-box;
        border               : 2px solid #808080;
        outline              : none;
    }


    #btn_accao_ok {
        /*margin: 0;
        padding: 0;
        margin-top: 50px;*/
    }

    #content_accao {
        margin-top: -13px;
    }


    .img_bt {
        width: 40px;
        padding: 0;
        background-color: transparent;
    }

    #btn_nova_task, #task_count {
        padding-left: 100px;
    }

    #container_task_count
    {
        border: 3px solid #3f3f3f;
        min-width: 180px;
        /*max-width:none;*/
        border-radius: 6px;
        background-color: rgba(0, 0, 0, .4);
        font-size: 16px;
        /*font-weight: bold;*/
        color: white;
        height: 25px;

    }



    label {
        text-align: justify;
    }

    .space_bottom {
        margin-bottom: 20px;
    }


    #corpo_tasks .modal_0 {
        background-image: url('../images/back_modal.png');
        background-repeat: no-repeat;

        border-radius: 6px;
        width: 360px;
        height: 200px;
    }

    #corpo_tasks .modal_0 #content_modal_bt {
        width: 90%;
        padding: 5px;
        margin-top: -265px;
        background-color: rgba(0, 0, 0, 0.44);
        border: 2px solid #3f3f3f;
        border-radius: 6px;
    }

    #corpo_tasks .modal_1 {
        background-image: url('../images/back_modal.png');
        background-repeat: no-repeat;
        border-radius: 6px;
        width: 360px;
        height: 250px;
    } 

    #corpo_tasks .modal_1 #content_modal_bt {
        width: 90%;
        padding: 5px;
        margin-top: -210px;
        background-color: rgba(0, 0, 0, 0.44);
        border: 2px solid #3f3f3f;
        border-radius: 6px;
    }

    #corpo_tasks .modal_2 {
        background-image: url('../images/back_modal.png');
        background-repeat: no-repeat;
        padding: 5px;
        border-radius: 6px;
        width: 550px;
        height: 500px;
    }


    #corpo_tasks .modal_3 {
        background-image: url('../images/back_modal.png');
        background-repeat: no-repeat;
        padding: 5px;
        border-radius: 6px;
        width: 1050px;
        height: 650px;
        /*border: 2px solid green;*/
    }

   .content_modal {
        padding: 15px;
        height: 405px;
        /*border: 2px solid orange;*/
    }

    #content_modal_bt {
        width: 95%;
        padding-top: 5px;
        margin-top: 40px;
        background-color: #e6e7e8;
        background-color: rgba(0, 0, 0, 0.44);
        border: 2px solid #3f3f3f;
        border-radius: 6px;
    }


    .fundo_modal {
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable auto if needed */
        background-color: rgba(0, 0, 0, .4); /* Black w/ opacity */
    }