﻿    @charset 'utf-8';


    @font-face {
        font-family: ephismere;
        src: url('../fontes/Styling W00 Regular.ttf');
    }


    body
    {
        background-color: #e6e7e8;
        font-family: 'ephismere';
        font-size: 12px;
        color: black;
        max-height: none;
    }


    #container_crm {
        max-height: none;
    }

    #container_interaccoes {
        height: 350px;
        overflow: auto;

        /*font-size: 10px;*/
    }

        /*#container_interaccoes gridview_interaccoes {
            width: 100px;
            max-height: none;
        }*/

    #container_button_edit {
        float: left;
    }

    .lb_crm {
        font-size: 14px;
    }

    #container_crm .txtInput, .selectInput {
        width                : 100%;
        padding              : 4px 10px;
        font-family          : 'ephismere';
        border-radius        : 4px;
        margin               : 5px 0;
        box-sizing           : border-box;
        border               : 2px solid #808080;
        outline              : none;

    }

    .img_bt {
        width: 40px;
        padding: 0;
        background-color: transparent;
    }