﻿ 

   @charset 'utf-8';


    @font-face {
        font-family: ephismere;
        src: url('../fontes/Styling W00 Regular.ttf');
    }


    body
    {
        background-color: #e6e7e8;
        font-family: 'ephismere';
        font-size: 12px;
        color: black;
        max-height: none;
    }


div .container {
    width: 100%;
    max-height: none;
    background-color: #e6e7e8;
}


#content_treeview {
    float: left;
    width: 20%;
    min-height: 660px;
    max-height: none;
    background-color: #ffffff;
    /*border-radius: 4px;*/
    border-right: 1.4px solid #3f3f3f;
    padding: 0;
    margin: 0;
    overflow-y: auto;
}

    #content_treeview .txt_Titulo {
        padding: 5px;
        /*text-shadow: 10px 10px 5px #888888;*/
        padding-top: 10px;
    }


/*#content_treeview ul {
            list-style-type: none;
            padding: 0;
        }

            #content_treeview ul a {
                text-decoration: none;
            }*/

#TreeView1 {
    font-family: 'ephismere';
    margin: 0;
}


#content_kb {
    width: 79%;
    float: left;
    margin-left: 100px;
    /*border: 3px solid red;*/
    max-height: none;
    padding: 0;
    margin: 0;
    /*overflow: hidden;*/
}

    #content_kb iframe {
        width: 99%;
        background-color: white;
        min-height: 660px;
        max-height: none;
        /*overflow: auto;*/
        margin-top: 5px;
        border: 6px solid #fff;
        border-radius: 6px;
        /*margin-left: 15px;*/
    }

iframe {
    max-height: none;
}

#pnl_btns_accao {
    margin: 0;
    padding: 0;
}

