﻿        .row::after {
            content              : "";
            clear                : both;
            display              : table;
            padding-top          : 5px;        
        }
        [class*="col-"] {
            float: left;
            padding-left:5px;        
            padding-right:5px;        
        }
        .col-1  { width          : 8.33%; }
        .col-2  { width          : 16.66%; }
        .col-3  { width          : 25%; }
        .col-4  { width          : 33.33%; }
        .col-5  { width          : 41.66%; }
        .col-6  { width          : 50%; }
        .col-7  { width          : 58.33%; }
        .col-8  { width          : 66.66%; }
        .col-9  { width          : 75%; }
        .col-10 { width          : 83.33%; }
        .col-11 { width          : 91.66%; }
        .col-12 { width          : 100%; }

        .data_panel {         
            /*Painel para display de dados realçado do fundo*/
            background-color    : white;
            padding             : 10px;        
            border-radius       : 20px;
        }   
    
    .full_line{
        /*utilizado para colocar objectos na linha inteira*/
        width:100%;
    }

    .clean_left
    {
        clear: left;
    }

    input[type=text], input[type=number], input[type=email], select{        
        padding              : 4px 5px;        
        border-radius        : 5px;
        margin               : 2px 0px;        
        border               : 2px solid #808080;
        outline              : none;
    }    

    input:focus
    {
        background-color     : #aaa;
        border               : 2px solid #3f3f3f;
        color                : black;
    }

    .label_field{                       
        padding              : 4px 5px;               
        background-color     : #aaa;
        border-radius        : 20px;             
        min-height           : 23px;
        margin               : 2px 0px;
        color                : white;
    }    

    label{
        font-weight : bold;
    }

    .strong_font{
        font-size: 1em;
    }

    .number{
        text-align:right;
    }                      