﻿

    @charset 'utf-8';


    @font-face {
        font-family: ephismere;
        src: url('../fontes/Styling W00 Regular.ttf');
    }


    body, button
    {
        background-color: #e6e7e8;
        font-family: 'ephismere';
        font-size: 12px;
        color: black;
        max-height: none;
    }

    .dropbtn {
        background-color: #8c2034;
        color: white;
        width: 100px;
        /*font-size: 16px;*/
        border: none;
        cursor: pointer;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        height: 16px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        top: 15px;
        background-color: black;
        cursor:pointer;
        min-width: 115px;
    
        box-shadow: 0px 8px 16px 0px black;
    }

    .dropdown-content a {
        color: white;
        padding: 5px 2px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover
    {
        color: black;
        cursor:pointer;
        background-color: #f1f1f1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: rgba(0,0,0,0.4);
    }

    #op_manage
    {
        margin-right: 180px;
    }

    

    .btn_logout
    {
        /*background-color: black;*/
        background: none;
        width: 100%;
        font-family: 'ephismere';
        color: white;
        cursor:pointer;
        padding: 0;
        margin: 0;
        height: 25px;
        font-size: 14px;
    }

    .btn_logout:hover
    {
        color: black;
        cursor:pointer;
        background-color: #f1f1f1;
    }
