﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Call_Estatistica_Manager.aspx.cs" Inherits="uTools.Call_Estatistica_Manager" %>

<%@ Register Src="~/Controls/Estatistica_Manager.ascx" TagName="Estatistica_Manager" TagPrefix="etm" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div>
        <etm:Estatistica_Manager id="Estatistica_Manager1" runat="server"></etm:Estatistica_Manager>
    </div>
</body>
</html>
