﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="General.master.cs" Inherits="uTools.General" %>

<!DOCTYPE html>

<style>
    .fundo_modal {
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable auto if needed */
        background-color: rgba(0, 0, 0, .4); /* Black w/ opacity */
    }

    .clickto_modal {
        /*display: none;*/ /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    .clickto_modal-content {
        /*position: relative;*/
        margin: auto;
        color: white;
        padding: 0;
        border: 1px solid #888;
        width: 500px;
        height: 350px;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
    }

    #content_modal {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        /*border: 2px solid green;*/
        margin: auto;
        background-image: url('../images/back_modal.png');
        background-repeat: no-repeat;
        border-radius: 10px;
    }

    #content_top {
        padding: 5px;
        padding-bottom: 0px;
        border: 2px solid yellow;
        height: 30px;
    }

    #content_center {
        width: 80%;
        height: 240px;
        border: 2px solid red;
        position: relative;
        top: 20px;
    }

    #content_button {
        position: relative;
        top: 20px;
        border: 2px solid green;
        padding-left: 40px;
    }
</style>

<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
<head runat="server">

    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-language" content="pt-br" />

    <meta name="description" content="Ferramenta de Ticketing, que vai melhorar a
        Experiência de Cliente dando resposta às situações colocadas nos vários canais
        de interacção da sua organização (agências, pontos de venda, contact center, etc).
        A partir de qualquer área da sua empresa, a resposta é dada dentro do prazo expectável,
        aumentando a Qualidade na relação com o Cliente. Os pedidos de informação, as reclamações
        ou sugestões são direccionadas a quem decide e resolvem-se com maior rapidez, eficiência
        e controlo da interacção" />

    <meta name="locale" content="AO" />
    <meta name="language" content="pt" />
    <meta name="country" content="Angola" />

    <link rel="shortcut icon" href="images/image_icon.png" />

    <title>uTOOLs</title>

    <link rel="stylesheet" type="text/css" href="css/geral.css" />
    <link rel="stylesheet" type="text/css" href="css/tabbed-panels.css" />

    <link rel="stylesheet" type="text/css" href="css/style_userchangepwd.css" />
    <link rel="stylesheet" type="text/css" href="css/style_crm_site.css" />
    <link rel="stylesheet" type="text/css" href="css/style_kb.css" />
    <link rel="stylesheet" type="text/css" href="css/style_utask.css" />
    <link rel="stylesheet" type="text/css" href="css/style_manage_main.css" />

    <link type="text/css" rel="stylesheet" href="css/general.css" />
    <link type="text/css" rel="stylesheet" href="css/style_modal.css" />

    <link rel="stylesheet" type="text/css" href="css/style_upd_progress.css">

    <link rel="stylesheet" type="text/css" href="controls/sliderengine/amazingslider-1.css">


    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>

</head>
<body onunload="bodyUnload();" onclick="clicked=true;">
    <form id="form1" runat="server">
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">

                <asp:Panel ID="pnl_accao_modal" runat="server" CssClass="clickto_modal-content">
                    <div id="content_modal" align="center">
                        <div id="content_top" align="right">
                            <label id="header_modal" runat="server" style="font-size: 18px; text-shadow: 10px 10px 5px #000000;">teste</label>
                        </div>

                        <div id="content_center">
                            <label id="body_modal" runat="server"></label>
                        </div>

                        <div id="content_button" align="justify">
                            <asp:ImageButton ID="btn_accao_cancel" runat="server" CssClass="img_bt" ImageUrl="~/images/ok.png" title="Ok" OnClick="btn_accao_cancel_Click" />
                        </div>
                    </div>

                </asp:Panel>

                <div class="container">
                    <%--<asp:ScriptManager ID="ScriptManager1" runat="server" EnablePartialRendering="true" EnablePageMethods="true" />--%>
                    <header>
                        <img src="header_teste.png" title="BFA UCALL" style="width: 100%;" />
                        <div id="container_manage" align="justify">

                            <span id="agent_info" class="i_manage" runat="server">
                                <asp:Label runat="server" Style="background-color: #58595b;" ID="lbl_info_agent"></asp:Label>
                            </span>

                            <span id="op_manage" class="i_manage" runat="server">
                                <div class="dropdown">

                                    <span class="dropbtn">Acções</span>

                                    <div class="dropdown-content" align="justify">
                                        <asp:Button ID="btn_accao_ok" class="btn_logout" runat="server" Text="client Call Modal" />
                                        <asp:Button ID="btn_pl_admin" class="btn_logout" runat="server" Text="Painel Administrativo" />
                                        <%--<a href="#" onclick="">Painel Administrativo</a>--%>
                                        <a href="UserChangePwd.aspx">Mudar Palavra-Passe</a>

                                        <hr />
                                        <asp:Button ID="btn_logout" class="btn_logout" runat="server" Text="Terminar Sessão" />

                                    </div>

                                </div>
                            </span>

                            <span id="job_role_info" class="i_manage" style="background-color: #58595b;" runat="server">
                                <asp:Label runat="server" ID="lbl_job_role_agent"></asp:Label>
                            </span>

                        </div>
                    </header>

                    <article id="content_main">
                        Content main
                    </article>

                    <nav>
                        Content left
                    </nav>

                    <footer>
                        <img src="imagesrodape_02.png" title="Rodapé" style="width: 100%;" />
                    </footer>

                    <script language="javascript" type="text/javascript">
                        //<![CDATA[</span />

                        var clicked = false;
                        function CheckBrowser() {
                            if (clicked == false) {
                                //Browser closed
                                PageMethods.Logout();
                            }
                            else {
                                //redirected 
                                clicked = false;
                            }
                        }

                        function bodyUnload() {

                            if (clicked == false)//browser is closed
                            {
                                var request = GetRequest();

                                request.open("POST", "../LogOut.aspx", false);
                                request.send();
                                alert('This is close');
                            }
                        }
                        function GetRequest() {
                            var xmlhttp;
                            if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
                                xmlhttp = new XMLHttpRequest();
                            }
                            else {// code for IE6, IE5
                                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                            }

                            alert('This is close. Request');

                            return xmlhttp;
                        }
                    </script>
                </div>

            </asp:ContentPlaceHolder>

        </div>
    </form>

</body>
</html>
