tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
.font5
	{color:black;
	font-size:8.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
.font7
	{color:black;
	font-size:8.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	background:white;
	mso-pattern:black none;}
.xl66
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:.5pt dashed #9B9185;
	border-right:none;
	border-bottom:none;
	border-left:.5pt dashed #9B9185;
	background:white;
	mso-pattern:black none;}
.xl67
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:.5pt dashed #9B9185;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl68
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:right;
	vertical-align:middle;
	border-top:.5pt dashed #9B9185;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl69
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:.5pt dashed #9B9185;
	border-right:.5pt dashed #9B9185;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl70
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt dashed #9B9185;
	background:white;
	mso-pattern:black none;}
.xl71
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt dashed #9B9185;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl72
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl73
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:right;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl74
	{mso-style-parent:style0;
	font-size:8.0pt;
	font-weight:700;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl75
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl76
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt dashed #9B9185;
	border-left:.5pt dashed #9B9185;
	background:white;
	mso-pattern:black none;}
.xl77
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt dashed #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl78
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:right;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt dashed #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl79
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt dashed #9B9185;
	border-bottom:.5pt dashed #9B9185;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl80
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:center;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl81
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:top;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl82
	{mso-style-parent:style0;
	color:white;
	font-size:12.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	background:#F5770F;
	mso-pattern:black none;}
.xl83
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	background:white;
	mso-pattern:black none;}
.xl84
	{mso-style-parent:style0;
	font-size:8.0pt;
	vertical-align:top;
	background:white;
	mso-pattern:black none;}
.xl85
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl86
	{mso-style-parent:style0;
	color:white;
	font-size:12.0pt;
	font-weight:700;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
.xl87
	{mso-style-parent:style0;
	color:white;
	font-size:12.0pt;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	background:#E26B0A;
	mso-pattern:black none;}
.xl88
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid gray;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid gray;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl89
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid gray;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl90
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid gray;
	border-right:.5pt solid gray;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl91
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid gray;
	background:white;
	mso-pattern:black none;}
.xl92
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:.5pt solid gray;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl93
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid gray;
	border-left:.5pt solid gray;
	background:white;
	mso-pattern:black none;}
.xl94
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid gray;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl95
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:.5pt solid gray;
	border-bottom:.5pt solid gray;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl96
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid gray;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl97
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid gray;
	border-right:.5pt solid gray;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl98
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid gray;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl99
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:.5pt solid gray;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl100
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid gray;
	border-left:.5pt solid gray;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl101
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid gray;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl102
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:.5pt solid gray;
	border-bottom:.5pt solid gray;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl103
	{mso-style-parent:style0;
	font-size:8.0pt;
	text-align:center;
	background:white;
	mso-pattern:black none;}
